@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    /* Set the default text color */
    color: var(--fmc-color-inverse-container);
  }
}

@keyframes fadeIn {
  from {
    transform: "translateY(-8px)";
    opacity: 0;
  }

  to {
    transform: "translateY(0)";
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    transform: "translateY(0)";
    opacity: 1;
  }
  to {
    transform: "translateY(-8px)";
    opacity: 0;
  }
}
